.content-slider{
    display: flex;
    width: 100%;
    height: 310px
}
.content-slider>div{
    margin: 3px;
    position: relative
}
.content-slider img{
    width:100%;
    height: 300px;
    object-fit: cover;
    position: absolute
}
.imagenes{
    display: flex;
    overflow: hidden
}
.letra{
    width: 50%
}
.bolas{
    display: flex;
    position: relative;
    margin-top:300px;
    justify-content: center
}
.bolas>div{
    width:20px;height: 20px;border-radius: 100%;background-color: grey;margin: 5px;cursor: pointer
}
.controls>div{
    position: absolute;
    top: 50%;
    font-size: 50px;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    color: rgba(0,0,0,.5);
}
.visi{
    display: block;
}
.controls{
    display: none
}
.conte:hover .controls{
    display: block
}
.conte{
    width: 50%
}
.agrandar{
    transition: width 4.2s linear;
    width: 100% !important
}
#carga-slider{
    background-color: greenyellow;
    height: 5px;
    width: 0%;
    position: relative
}
@keyframes mueve {
    0% {opacity: 0}
    1% {margin-left:100%;}
    10% {margin-left: 0px}
    100%{opacity: 1}
}
.invi{
    display: none
}
.aparece{
    animation: mueve 4.5s
}
@media(max-width:600px){
    .content-slider{
        display:block;
        width: 100%;
        height: 310px
    }
    .conte{
        width: 100%
    }
    .letra{
        width: 100%
    }
}